.places__url {
  color: #fff;
  align-self: end;
  font-size: 18px;
  line-height: 1.22;
  position: relative;
  transition: opacity 0.5s;
  padding-bottom: 6px;
}

.places__url:before {
  content: 'URL';
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 12px;
  letter-spacing: 0.2em;
  color: #aaa;
}

.places__url:hover {
  opacity: .8;
}

@media screen and (max-width: 700px) {
  .places__url {
    display: none;
  }
}