.header__lang {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  position: relative;
  cursor: pointer;
}

.header__lang:hover {
  opacity: .8;
}

@media screen and (max-width: 678px) {
  .header__lang {
    font-size: 18px;
  }
}