.places__place {
  margin: 0 auto 80px auto;
  display: grid;
  width: 100%;
  grid-template-columns: minmax(260px, 460px) minmax(260px, 484px);
  column-gap: 40px;
  row-gap: 48px;
}
.places__place:last-of-type {
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .places__place {
    grid-template-columns: minmax(260px, 440px) minmax(260px, 456px);
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    grid-template-columns: minmax(260px, 340px) minmax(260px, 352px);
    column-gap: 28px;
    margin: 0 auto 72px auto;
  }
}

@media screen and (max-width: 678px) {
  .places__place {
    grid-template-columns: minmax(min-content, 100%);
    column-gap: 28px;
    margin: 0 auto 64px auto;
    row-gap: 32px;
  }
}