.page__container {
  max-width: 1024px;
  padding: 28px 48px 24px 48px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .page__container {
    padding: 28px 24px 24px 24px;
  }
}
@media screen and (max-width: 678px) {
  .page__container {
    padding: 16px 16px 24px 16px;
  }
}